html {
  font-size: 62.5%;
}
body {
  font-family: Verdana, sans-serif;
  font-size: 1.6rem;
  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE */
  user-select: none; /* Standard syntax */
}
* {
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: Verdana, sans-serif;
  font-size: 1.6rem;
  outline: none;
  font-weight: normal;
}
button {
  cursor: pointer;
}
table {
  th,
  td {
    height: 3rem;
  }
}
