.header {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
p {
  color: #3a94d5;
  font-weight: bold;
}
.name {
  font-weight: bold;
}
.container {
  width: 100%;
  padding: 5rem 6rem 0rem 6rem;
}
.table {
  width: 100%;
  overflow: hidden;
  .avatar {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin-right: 3rem;
    margin-left: 1rem;
    border-radius: 1rem;
  }
  th,
  td {
    height: 6rem;
    transition: all 1s linear;
    vertical-align: middle;
  }
  th {
    font-weight: bold;
    font-size: 1.8rem;
  }
  tbody {
    tr {
      border-radius: 2rem;
      cursor: pointer;
      &:nth-child(2n + 1) {
        background-color: #f3f3f3;
      }
      &:hover {
        background-color: #ffe4ee;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .container {
    padding: 5rem 4rem 0rem 4rem;
  }
}
@media screen and (max-width: 769px) {
  .container {
    padding: 5rem 1rem 0rem 1rem;
  }
  .avatar {
    display: none;
  }
} ;
